certifi==2022.12.7
charset-normalizer==3.0.1
docutils==0.19
idna==3.4
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-examples==2.1.0
Kivy-Garden==0.1.5
Pillow==9.4.0
Pygments==2.14.0
pypiwin32==223
pywin32==305
requests==2.28.2
urllib3==1.26.14
